%section
  %h1 Erster Anruf

%section
  %p
    Wenn ihr eure Leads einseht, werdet ihr feststellen, dass diese je nach
    Status in verschiedene Kategorien eingeteilt sind: <strong>Neu</strong>,
    <strong>Kontaktiert</strong>, <strong>Infomail Angefordert</strong>,
    <strong>Infomail Versandt</strong>, <strong>Angebot Angefordert</strong>
    und <strong>Alle</strong>.

= image_tag "help/first_call/leads.png", :width => "800", :height => 343

%section
  %p
    Wenn du auf die Leads-Seite gehst, wirst du standardmäßig alle dir
    zugewiesenen Leads sehen. Du kannst die Leads anklicken um mehr
    Informationen über sie herauszufinden oder du kannst auf <strong>"Nächster
    Lead"</strong> klicken, um deinen ersten neuen Lead zu sehen.

  %p
    Hast du schon alle Leads angerufen und befinden sich keine mehr im "Neu"-
    Register, dann kannst du auf <strong>"Nächster Lead"</strong> klicken.
    Salesflip wird dir dann einen neuen aus dem Pool der noch nicht
    zugewiesenen Leads zuweisen.

  %p
    Angenommen du hast deinen ersten Lead angeklickt:

= image_tag "help/first_call/lead.png", :width => "800", :height => 343

%section
  %p
    Okay, alles ist in bestem Zustand. Ruf sie an! Wenn du auf die
    Telefonnummer des Leads auf dieser Seite klickst, wird sich ein Balken
    unten öffnen, der dir mitteilt, dass du am Telefon bist. Dieser Balken
    bleibt geöffnet während du die Seite auffrischst indem du Kommentare
    hinzufügst, den Lead bearbeitest, … .

= image_tag "help/first_call/on-call.png", :width => "800", :height => 343

%section
  %p
    Wenn du den Anruf beendet hast, klicke bitte auf „Anruf beendet?“. Jetzt
    wirst du aufgefordert den Lead zu bearbeiten – natürlich in Übereinstimmung
    mit der Antwort des Kunden.

  %p.note
    Beachte: wenn du nicht den automatischen Anrufservice benutzt (sondern zum
    Beispiel dein Handy), dann klicke bitte auf „Bereits kontaktiert?“ um
    dieses Fenster zu sehen.

= image_tag "help/first_call/call-box.png", :width => "800", :height => 414

%section
  %p
    Angenommen, der Kunde hat unsere Infomail angefordert, dann klickst du
    jetzt auf <strong>“Dem Kunden eine Infomail zusenden”</strong>. Durch diese
    Aktion wird der Lead automatisch in die Kategorie „Infomail Angefordert“
    verschoben, du wirst außerdem aufgefordert weitere Schritte zu unternehmen
    um diese Infomail rauszuschicken. Diese wird standardmäßig nach drei Tagen
    verschickt.

= image_tag "help/first_call/call-box-infomail.png", :width => "800", :height => 414

%section
  %p
    Wenn du auf <strong>einplanen</strong> klickst, wird eine neue Aufgabe
    erzeugt und du kehrst automatisch zurück zu deiner Lead-Liste.
    <strong>Überspringen</strong> bringt dich ebenfalls zur Lead-Liste,
    allerdings wird dabei keine neue Aufgabe erzeugt.

  %p
    Alle anderen Funktionen laufen ganz ähnlich ab:

  %ul
    %li
      <strong>„Der Kunde möchte später zurückgerufen werden“</strong> markiert
      den Lead als „Kontaktiert“ und ermöglicht dir, einen weiteren Anruf zu
      vereinbaren. Du solltest diese Funktion nutzen, wenn der Kunde dich darum
      bittet, einen neuen Termin zu vereinbaren oder wenn du eine andere Person
      innerhalb des Unternehmens anrufen möchtest.

    %li
      <strong>„Kunde will nicht wieder kontaktiert werden“</strong>wird den
      Lead ausmustern und dich direkt zu deiner Lead-Liste zurückführen.

    %li
      <strong>„Der Kunde möchte ein Angebot“</strong> markiert den Lead mit
      „Angebot Angefordert“ und fordert dich auf weitere Schritte für die
      Erstellung des Angebots zu unternehmen.

  %p
    Wenn du wieder zurück auf der Lead-Liste bist, kannst du die verschiedenen
    Status-Register anklicken um einzusehen, welche Leads unter welcher
    Kategorie gespeichert sind. Wenn du zum Beispiel eingegeben hast, dass ein
    Lead ein Angebot angefordert hat, dann findest du diesen Lead in der
    Kategorie <strong>„Angebot Angefordert“</strong>.

= image_tag "help/first_call/offer-requested.png", :width => "800", :height => 337

%section
  %p
    Und das war’s schon!
    #{link_to "Du kannst jetzt mit deinen Anrufen beginnen", leads_path}!

  %p
    Oh, und wenn du Feedback welcher Art auch immer hast zu diesem Prozess oder
    zu einem anderen aus Salesflip, dann klicke einfach auf den roten
    <strong>„Feedback“</strong>-Button, den du auf jeder Seite findest, und
    teile deine Ideen mit uns!
