.comments
  %h3.grad= t('comments')
  - if object.is_a?(Lead) && object.status == "Converted"
    .comments-closed
      - activity = object.activities.last
      %p
        = "Comments are closed. To comment, please"
        = link_to "view the contact for this lead", contact_path(object.contact)
      %p= "This lead was converted by #{link_to activity.user.full_name, user_path(activity.user)} on #{l(activity.created_at, :format => :short)}.".html_safe
      
      
  - if object.comments.empty?
    %p No comments have been posted yet.
  - else
    = render :partial => "comments/comment", :collection => object.comments.not_deleted.desc(:created_at)
- unless object.is_a?(Lead) && object.status == "Converted"
  = render :partial => "comments/add_comment", :locals => {:object => object }