.comments
  %h3.grad= t(:comments)
  - if object.is_a?(Lead) && I18n.in_locale(:en) { object.status == 'Converted' }
    .comments-closed
      - activity = I18n.in_locale(:en) { object.activities.action_is('Converted').first }
      %p
        = t(:comments_closed)
        = link_to t(:view_contact_for_lead), contact_path(object.contact)
      %p= raw t(:lead_converted_by, :link => link_to(activity.user.full_name, activity.user), :time => l(activity.created_at, :format => :short))

  - if comments.empty?
    %p No comments have been posted yet.
  - else
    = render :partial => 'comments/comment', :collection => comments# object.comments.not_deleted.desc(:created_at)
- unless object.is_a?(Lead) && I18n.in_locale(:en) { object.status == 'Converted' }
  = render :partial => 'comments/add_comment', :locals => { :object => object }
