%ul.checks.stacked
  - %w(overdue due_today due_tomorrow due_this_week due_next_week due_later).each do |due|
    %li
      = check_box_tag "scopes[#{due}]", true, params[:scopes] && params[:scopes][due.to_sym], :id => due
      %label{ :for => due }
        = t(due)
        - if !eval("@#{due}").nil?
          %span.count= "(#{eval("@#{due}").size})"