= error_messages_for form.object

= hidden_field_tag :return_to, params[:return_to]
= form.hidden_field :asset_id
= form.hidden_field :asset_type
%fieldset
  .100=  form.input :name, :required => true
  .33.a= form.input :category, :collection => Task.categories, :required => true
  .33= datepicker_for(form, :due_at)
  .33.z= form.input :assignee_id, :collection => User.all.asc(:email).map {|u| [u.email, u.id] }, :required => true, :include_blank => false
  .clear
  
