%ul
  %li= link_to "Leads", administration_leads_path
  %li= link_to "Duplicates", administration_duplicates_path
  %li= link_to "Salesflip", root_path

%h2= t(:data_summary)

.left
  %h3= t(:leads)
  %table
    %thead
      %tr
        %th= t(:status)
        %th= t(:total)
    %tbody
      - Lead.statuses.each do |status|
        %tr
          %td= status
          %td= Lead.for_company(current_user.company).status_is(status).count
    %tr
      %td= t(:total)
      %td= Lead.count

  %h3= t(:accounts)
  %table
    %thead
      %tr
        %th= t(:account_type)
        %th= t(:total)
    %tbody
      - Account.account_types.each do |account_type|
        %tr
          %td= account_type
          %td= Account.for_company(current_user.company).account_type_is(account_type).count

  %h3= t(:contacts)
  %p= Contact.for_company(current_user.company).count

.right
  %h3= t(:users)
  %table
    %thead
      %tr
        %th
        - t('lead_form.statuses', :locale => :en).each do |status|
          %th= status
    %tbody
      - User.role_is('Sales Person', 'Sales Team Leader').asc(:email).each do |user|
        %tr
          %td= user.email
          - t('lead_form.statuses', :locale => :en).each do |status|
            %td= Lead.all(:status => status, :assignee => user).count


- content_for :stylesheets do
  :css
    .left {
      float: left;
      width: 30%;
    }

    .right {
      float: left;
      margin-left: 20px;
    }

    dl {
      margin: 0;
      padding: 0;
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0 0 20px;
    }

