%h2.title
  = t(:users)

%table
  %tr
    %th= t(:username)
    %th= t(:email)
    %th= t(:confirmed_at)
    %th= t(:user_type)
  - @users.each do |user|
    %tr
      %td= link_to user.username, user
      %td= user.email
      %td= user.confirmed_at.to_s :short if user.confirmed?
      %td= user.role
