%h2.title= t(:my_profile)
%dl.profile
  %dt= t(:avatar)
  %dd= image_tag @user.gravatar_url
%dl.profile
  %dt= t(:email)
  %dd= @user.email
%dl.profile
  %dt Dropbox
  %dd
    = mail_to "#{@user.api_key}@salesflip.appspotmail.com"
    %span.help
      %span.up-arrow &#11014;
      %em= t('info.dropbox')