- cache("activity-#{activity.id}") do
  .item{ :class => activity.action.downcase }
    %span.icon= activity_icon(activity.action.downcase)
    = link_to activity.user.username.present? ? activity.user.username : activity.user.email, activity.user
    = activity.action.downcase
    = activity.subject.class.name.downcase
    %strong
      - if activity.subject.deleted_at || activity.subject.is_a?(Task)
        = truncate activity.subject.name, :length => 100, :separator => ' '
      - elsif activity.subject.is_a?(Comment)
        - if activity.subject.commentable.permitted_for?(current_user)
          = link_to truncate(activity.subject.name, :length => 100, :separator => ' '), activity.subject.commentable
        - else
          = truncate activity.subject.name, :length => 100, :separator => ' '
      - elsif activity.subject.is_a?(Task)
        - if activity.subject.asset.permitted_for?(current_user)
          = link_to truncate(activity.subject.name, :length => 100, :separator => ' '), activity.subject.asset
        - else
          = truncate activity.subject.name, :length => 100, :separator => ' '
      - else
        - if activity.subject.permitted_for?(current_user)
          = link_to truncate(activity.subject.name, :length => 100, :separator => ' '), activity.subject
        - else
          = truncate activity.subject.name, :length => 100, :separator => ' '
    %small.timestamp= raw t(:done_ago, :time => l(activity.updated_at, :format => :short))
