.item{ :class => activity.action.try(:downcase) }
  - subject = activity.subject
  - if subject.is_a?(Task) || subject.is_a?(Comment)
    .item-head
      %span.toggler.closed ▼
      %span.subject= activity.subject.class.name
      = activity.action
      by
      = link_to activity.user.full_name, activity.user
      %small.timestamp= raw l(activity.updated_at, :format => :short)
    .item-body
      - if activity.subject.is_a?(Task)
        - task = activity.subject
        - if task.completed?
          %label.complete= task.name
        - else
          = simple_form_for task do |form|
            = hidden_field_tag :return_to, request.fullpath
            %span.boolean= check_box_tag 'task[completed_by_id]', current_user.id, false, :id => "activity_task_#{task.id}"
            %label{ :for => "activity_task_#{task.id}" }= task.name
            %span.status= "(#{task.due_at_in_words})"
            %span.save.task
              = form.button :submit, t(:save), :id => 'activity_task_submit'
            .clear
      - else
        = activity.subject.text.break
      
  - else
    .no-children
      %span.subject= activity.subject.class.name
      = activity.action
      by
      = link_to activity.user.full_name, activity.user
      %small.timestamp= raw l(activity.updated_at, :format => :short)
