= hidden_field_tag :return_to, params[:return_to]

%h2.title= t(:add_lead)

= error_messages_for form.object

%h3.toggler.open= t(:contact_info)

.toggle
  %fieldset
    .16.a= form.input :salutation, :as => :select, :collection => Lead.salutations.map(&:to_s)
    .16= form.input :title, :as => :select, :collection => Lead.titles.map(&:to_s)
    .33= form.input :first_name, :required => true
    .33.z= form.input :last_name, :required => true
    .clear
    .33.a= form.input :job_title
    .66.z= form.input :department
    .clear
    .40.a= form.input :phone
    .40= form.input :mobile
    .20.boolean.z
      = form.check_box :do_not_call
      = form.label :do_not_call
    .clear
    .50.a= form.input :email
    .50.z= form.input :alternative_email
    .clear
    .50.a= form.input :xing
    .50.z= form.input :facebook
    .50.a= form.input :linked_in
    .50.z= form.input :twitter
    
    
%h3.toggler.open= t(:company_info)
.toggle
  %fieldset
    .100= form.input :company    
    .clear
    .60.a= form.input :address
    .20= form.input :fax
    .20.z= form.input :company_phone
    .clear
    .10.a= form.input :postal_code
    .50= form.input :city
    .40.z
      %label{ :for => 'lead_country' }= t(:country)
      = localized_country_select :lead, :country, TOP_COUNTRIES
    .clear
    .50.a=  form.input :website
    .50.z=  form.input :career_site
    .clear
    .33.a=  form.input :company_facebook, :label => 'Facebook'
    .33=  form.input :company_twitter, :label => 'Twitter'
    .33.z= form.input :company_blog, :label => 'Blog'

%h3.toggler.open= raw t(:web_and_social_media)
.toggle
  %fieldset
    .100=  form.input :website
    .50.a= form.input :twitter
    .50.z= form.input :linked_in
    .50.a= form.input :facebook
    .50.z= form.input :xing

%h3.toggler.open= raw "#{t(:tracking)} &amp; #{t('simple_form.labels.permissions')}"
.toggle
  %fieldset
    %span.col.seventy-five.first
      %span.wrap
        .33.a= form.input :source, :collection => t('lead_sources')
        .33= form.input :permission, :collection => Lead.permissions, :include_blank => false
        .33.z= form.input :status, :as => :select, :collection => Lead.statuses.map(&:to_s), :include_blank => false
        .clear
        .70.a= form.input :assignee_id, :collection => current_user.company.users.map {|a| [a.email, a.id] }, :include_blank => true, :required => true
        .20= form.input :permission, :collection => Lead.permissions, :include_blank => false

        .10.z= form.input :rating, :as => :select, :collection => 1..5
        .clear
        .50.a= form.input :source, :as => :select, :collection => Lead.sources.map(&:to_s)
        .50.z= form.input :referred_by
        .clear
    %span.col.twenty-five.last
      %span.wrap
        .100= form.input :permitted_user_ids, :collection => current_user.company.users.asc(:email).map {|u| [u.email, u.id] }, :include_blank => false, :input_html => { :multiple => true, :size => 8 }

%h3.toggler.open= t(:notes)
.toggle
  %fieldset
    .100
      .text.optional= form.text_area :notes, :rows => 4
.clear

.act.pad
  = form.button :submit, :id => 'lead_submit'
  = t(:or)
  = link_to t(:back), :back
