.lead[lead]
  %h3
    = link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
    - if lead.duplicate?
      %small.duplicate= t(:marked_as_duplicate)
    - else
      = link_to t(:duplicate?), duplicate_lead_path(lead), :class => "duplicate"
      %small.duplicate(style="display: none")= t(:marked_as_duplicate)
  %p
    %small
      = raw rating_for(lead)
      = "#{lead.company}" if !lead.company.blank?
      = raw " : #{link_to(pluralize(lead.comments.size, t(:comment)), lead)}" if lead.comments.any?
