= form_tag promote_lead_path(@lead), :method => :put do
  - if @contact && !@contact.new_record?
    = t(:contact_already_exists, :contact => @contact.full_name)
  - else
    %h3= t(:account)
    %fieldset
      .60.a
        .string
          %label{ :for => 'account_name' }= t('simple_form.labels.account_name')
          = text_field_tag 'account_name'
      .40.z
        .string
          %label{ :for => 'account_id' }= t('simple_form.labels.account_id')
          = select_tag :account_id, options_for_select(Account.all.asc(:name).map {|a| [a.name, a.id] }, params[:account_id]), :include_blank => true
    %h3= t(:opportunity)
    = simple_fields_for Opportunity.new do |opportunity_form|
      = render :partial => 'opportunities/form', :locals => { :form => opportunity_form, :permissions => false, :buttons => false }
    %fieldset
      .20.a
        .string
          %label{ :for => 'permission' }= t('simple_form.labels.permission')
          = select_tag :permission, options_for_select(Account.permissions, params[:permission]), :include_blank => true
      .80.z
        .checks
          %label{ :for => 'permitted_user_ids' }= "#{t('simple_form.labels.permitted_users')}:"
          = select_tag :permitted_user_ids, options_for_select(current_user.company.users.asc(:email).map { |u| [u.email, u.id] }, params[:permitted_user_ids]), :multiple => true
  = submit_tag t(:convert_lead), :id => 'convert'
  = t(:or)
  = link_to t(:cancel), :back