- lead = Lead.get(params[:id])
- infomail_templates = InfomailTemplate.all

#step_1
  %h3= t(:how_did_the_call_go)

  %ol
    %li= link_to t(:customer_requested_infomail),
      lead_path(lead, :lead => { :status => "Infomail Requested" }),
      :"data-next" => "schedule_infomail_followup"
    %li= link_to t(:customer_wants_to_be_called_back),
      lead_path(lead, :lead => { :status => "Contacted" }),
      :"data-next" => "call_back"
    %li= link_to t(:customer_doesnt_want_to_be_contacted),
      lead_path(lead, :lead => { :status => "Rejected" })
    %li= link_to t(:customer_requested_offer),
      lead_path(lead, :lead => { :status => "Offer Requested" }),
      :"data-next" => "offer_requested"

= simple_form_for lead.tasks.new(:name => t(:follow_up_about_infomail), :due_at => 3.days.from_now),
  :html => { :style => "display: none", :id => "schedule_infomail_followup" } do |form|
  %h3= t(:want_to_schedule_a_followup_call)

  %fieldset
    = form.hidden_field :asset_id
    = form.hidden_field :asset_type
    = form.hidden_field :assignee_id, :value => current_user.id
    = form.hidden_field :category, :value => "Follow-up"

    = form.input :name
    = datepicker_for(form, :due_at, :preset_date => false, :id => "infomail_task_due_at")

  = form.button :submit, t(:schedule)
  = form.button :submit, t(:skip), :name => "skip", :style => "float: right;"

= simple_form_for lead.tasks.new(:name => t(:rescheduled), :due_at => 30.minutes.from_now),
  :html => { :style => "display: none", :id => "call_back" } do |form|
  %h3= t(:want_to_schedule_a_followup_call)

  %fieldset
    = form.hidden_field :asset_id
    = form.hidden_field :asset_type
    = form.hidden_field :assignee_id, :value => current_user.id
    = form.hidden_field :category, :value => "Call"

    = form.input :name
    = datepicker_for(form, :due_at, :preset_date => false, :id => "call_back_due_at")

  = form.button :submit, t(:schedule)
  = form.button :submit, t(:skip), :name => "skip", :style => "float: right;"

= simple_form_for lead.tasks.new(:name => t(:send_offer), :due_at => 30.minutes.from_now),
  :html => { :style => "display: none", :id => "offer_requested" } do |form|
  %h3= t(:want_to_schedule_task_with_offer)

  %fieldset
    = form.hidden_field :asset_id
    = form.hidden_field :asset_type
    = form.hidden_field :assignee_id, :value => current_user.id
    = form.hidden_field :category, :value => "Email"

    = form.input :name
    = datepicker_for(form, :due_at, :preset_date => false, :id => "call_back_due_at")

  = form.button :submit, t(:schedule)
  = form.button :submit, t(:skip), :name => "skip", :style => "float: right;"

:javascript
  function after_load_callback() {
    RealDateSelector.bind($$(".call_box").first());

    function show_next(next) {
      if (next) {
        $(next).show();
      }
      else {
        window.location = "/leads"
      }
    }

    $$(".call_box #step_1 a").each('on', 'click', function() {
      var next = this.get("data-next");

      $('step_1').hide();

      if ( !this.get("href").match("#") ) {
        xhr = new Xhr(this.get("href"), {
          method: "put",
          spinner: $("call_box_spinner"),
          onSuccess: function() { show_next(next) }
        }).send();
      }
      else {
        show_next(next);
      }

      return false;
    });

    $$(".call_box form input[name=skip]").each('on', 'click', function() {
      var form = this.form();
      form.hide();
      show_next(form.get("data-next"));

      return false;
    });

    $$(".call_box form").each('on', 'submit', function() {
      var next = this.get("data-next");
      this.hide();

      this.send({
        spinner: $("call_box_spinner"),
        onSuccess: function() {
          show_next(next);
        }
      });

      return false;
    });
  }
