%h2.title
  Leads
  = add_new t(:add_lead), new_lead_path
  = link_to t(:next_lead), next_leads_path, :class => "button"
  -# %button{ :onclick => "CallBox.show('#{next_leads_path}');", :style => "float: right;margin: 0 10px 0px 0; height: 28px;" } Next Lead

.tabs
  %ul.states
    - if current_user.role_is?('Service Person')
      %li{:class => "active"}
        = link_to t(:offer_requested), :status => "Offer Requested"
    - else
      - if can? :view_unassigned, Lead
        %li{:class => "#{'active' if params[:status] == "Unassigned"}"}
          = link_to t(:unassigned), :status => "Unassigned"
      %li{:class => "#{'active' if params[:status] == "New"}"}
        = link_to t(:new), :status => "New"
      %li{:class => "#{'active' if params[:status] == "Contacted"}"}
        = link_to t(:contacted), :status => "Contacted"
      %li{:class => "#{'active' if params[:status] == "Infomail Requested"}"}
        = link_to t(:infomail_requested), :status => "Infomail Requested"
      %li{:class => "#{'active' if params[:status] == "Infomail Sent"}"}
        = link_to t(:infomail_sent), :status => "Infomail Sent"
      %li{:class => "#{'active' if params[:status] == "Offer Requested"}"}
        = link_to t(:offer_requested), :status => "Offer Requested"
      %li{:class => "#{'active' if params[:status] == "All"}"}
        = link_to t(:all), :status => "All"
  %ul.filters
    - if params[:campaign] == "Self-Generated"
      %li.active
        = t(:self_generated)
        = link_to "x", params.merge(:campaign => ""), :class => "remove"
    - else
      %li= link_to t(:self_generated), params.merge(:campaign => "Self-Generated")
    - Campaign.assigned_to(current_user).asc(:name).each do |campaign|
      - if params[:campaign].to_i == campaign.id
        %li.active
          = campaign.name
          = link_to "x", params.merge(:campaign => ""), :class => "remove"
      - else
        %li= link_to campaign.name, params.merge(:campaign => campaign.id)

.leads
  - @leads.each do |lead|
    .lead[lead]
      %h3
        = link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
      %p
        %small
          = raw rating_for(lead)
          = "#{lead.company}" if !lead.company.blank?

= will_paginate @leads

= yield :call_boxes

- if can?(:export, current_user) || can?(:import, current_user)
  - content_for :sidebar do
    .gold.box
      %h3= t(:data_actions)
      %ul.plain
        - if can?(:export, current_user)
          %li= link_to t(:export_as_csv), export_leads_path(@filters), :id => 'export_as_csv'
        - if can?(:import, current_user)
          %li= link_to t(:import_from_csv), new_lead_import_path(:return_to => request.fullpath)

- content_for :stylesheets do
  :css

    td.status {
      color: #555;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 120px;
    }

    td button {
      font-size: 0.8em;
    }

    div#main h3 { cursor: auto; }

    .tabs {
      border-right: 1px solid #eee;
      float: left;
      width: 170px;
      padding-right: 20px;
      margin: 0 20px 0 0;
    }

    .tabs ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .tabs .states {
      border-bottom: 1px solid #eee;
      font-size: 0.9em;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .tabs li a {
      color: #0073B1;
      display: block;
      line-height: 28px;
      padding-left: 8px;
      text-decoration: none;
    }

    .tabs li a:hover {
      text-decoration: underline;
    }

    .tabs li.active a {
      color: #000;
      font-weight: bold;
    }

    .filters li a {
      display: inline;
      line-height: 22px;
    }

    .filters li a:hover {
      background-color: inherit;
    }

    .filters li.active {
      color: #111;
      font-weight: bold;
      line-height: 22px;
      padding-left: 8px;
    }

    .filters li.active .remove {
      background-color: inherit;
      color: #bbb;
      padding: 0 5px;
      float: right;
    }

    .filters li.active .remove:hover {
      color: #c00;
      text-decoration: none;
    }

    div#main .leads {
      margin-left: 210px;
    }

    .lead {
      margin-bottom: 0.5em;
    }

    .lead .rating {
      font-size: inherit;
      margin-right: 5px;
      padding: 0;
    }

    div#main .leads h3 {
      line-height: 16px;
      margin: 0;
    }

    div#main .leads p {
      margin: 0;
    }
