%h2.title
  Leads
  = add_new t(:add_lead), new_lead_path(:return_to => request.fullpath)

%ul.tabs
  %li{:class => "#{'active' if current_scopes[:status_is] == "New"}"}= link_to "New", :status_is => "New"
  %li{:class => "#{'active' if current_scopes[:status_is] == "Contacted"}"}= link_to "Infomail Sent", :status_is => "Contacted"

%table
  - @leads.each do |lead|
    %tr.item[lead]
      %td(width="100%")
        %strong
          = link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
        = raw rating_for(lead)
        %small
          = "at #{lead.company}" if !lead.company.blank?
      %td
        %button(onclick="CallBox.show('#{dom_id lead, "call"}'); return false;") Rufen
    - content_for :call_boxes do
      = render :partial => 'leads/call_box', :locals => { :lead => lead }

= will_paginate @leads

= yield :call_boxes

:css
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td {
    border-bottom: 1px solid #ccc;
    padding: 0.5em;
  }
  td button {
    font-size: 0.8em;
  }

  div#main h3 { cursor: auto; }
  tr:hover {
    background-color: #ffd;
  }

  .tabs {
    border-bottom: 5px solid #eee;
    height: 28px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tabs li {
    float: left;
    margin-right: 1px;
  }

  .tabs a {
    background-color: #eee;
    border-bottom: 5px solid #ccc;
    color: #999;
    display: block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
  }

  .tabs a:hover {
    border-bottom-color: #555;
    color: #555;
  }

  .tabs .active a {
    border-bottom-color: #0073B1;
  }

  .tabs .active a {
    background-color: #0073B1;
    color: #fff;
  }
