%h2.title
  Leads
  = add_new t(:add_lead), new_lead_path
  = link_to t(:next_lead), next_leads_path, :class => "button"
  -# %button{ :onclick => "CallBox.show('#{next_leads_path}');", :style => "float: right;margin: 0 10px 0px 0; height: 28px;" } Next Lead

%ul.tabs
  - if current_user.role_is?('Service Person')
    %li{:class => "active"}= link_to t(:offer_requested), :status => "Offer Requested"
  - else
    - if can? :view_unassigned, Lead
      %li{:class => "#{'active' if params[:status] == "Unassigned"}"}= link_to t(:unassigned), :status => "Unassigned"
    %li{:class => "#{'active' if params[:status] == "New"}"}= link_to t(:new), :status => "New"
    %li{:class => "#{'active' if params[:status] == "Contacted"}"}= link_to t(:contacted), :status => "Contacted"
    %li{:class => "#{'active' if params[:status] == "Infomail Requested"}"}= link_to t(:infomail_requested), :status => "Infomail Requested"
    %li{:class => "#{'active' if params[:status] == "Infomail Sent"}"}= link_to t(:infomail_sent), :status => "Infomail Sent"
    %li{:class => "#{'active' if params[:status] == "Offer Requested"}"}= link_to t(:offer_requested), :status => "Offer Requested"
    %li{:class => "#{'active' if params[:status] == "All"}"}= link_to t(:all), :status => "All"

%table
  - @leads.each do |lead|
    %tr.item[lead]
      - if params[:status] == "All"
        %td.status= t(lead.status)
      %td
        %strong
          = link_to lead.full_name, lead, :id => lead.full_name.to_dom_id
      %td(width="65")
        = raw rating_for(lead)
      %td
        %small
          = "at #{lead.company}" if !lead.company.blank?

= will_paginate @leads

= yield :call_boxes

- if can?(:export, current_user) || can?(:import, current_user)
  - content_for :sidebar do
    .gold.box
      %h3= t(:data_actions)
      %ul.plain
        - if can?(:export, current_user)
          %li= link_to t(:export_as_csv), export_leads_path(@filters), :id => 'export_as_csv'
        - if can?(:import, current_user)
          %li= link_to t(:import_from_csv), new_lead_import_path(:return_to => request.fullpath)

- content_for :stylesheets do
  :css

    td.status {
      color: #555;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      width: 120px;
    }

    td button {
      font-size: 0.8em;
    }

    div#main h3 { cursor: auto; }

    .tabs {
      border-bottom: 5px solid #eee;
      height: 28px;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .tabs li {
      float: left;
      margin-right: 1px;
    }

    .tabs a {
      background-color: #eee;
      border-bottom: 5px solid #ccc;
      color: #999;
      display: block;
      font-weight: bold;
      padding: 0.5em 1em;
      text-decoration: none;
    }

    .tabs a:hover {
      border-bottom-color: #555;
      color: #555;
    }

    .tabs .active a {
      border-bottom-color: #0073B1;
    }

    .tabs .active a {
      background-color: #0073B1;
      color: #fff;
    }
