- if @task
  %h3 Next Task
  %h4
    %span{ :class => I18n.locale_around(:en) {@task.category.downcase} }= @task.category
    = @task.name
    %small= "(#{@task.due_at_in_words})"
    %br
    %small= link_to(@task.asset.name, @task.asset)

  %hr

%h3 Next Lead
%h4
  = link_to @lead.full_name, lead_path(@lead)
  %small @ #{@lead.company}
