%h2.title Dashboard
#tasks
  %h3= t(:tasks)

  - if @overdue.any?
    %h4.deadline{ :id => 'overdue_tasks' }= t(:overdue)
    = render :partial => "tasks/task", :collection => @overdue

  - if @overdue.any?
    %h4.deadline{ :id => 'due_today_tasks' }= t(:due_today)
    = render :partial => "tasks/task", :collection => @due_today

.activities
  %h3= t(:recent_activity)
  = render :partial => 'shared/activity', :collection => @activities
