= simple_form_for @invitation do |form|
  %fieldset
    .50.a= form.input :email
    .50.z= form.input :role, :collection => Invitation.roles
  .act.pad
    = form.submit t(:create), :id => 'invitation_submit'
    = t(:or)
    = link_to t(:cancel), :back
