.title
  %h2= @opportunity.title
  - if @opportunity.new_offer?
    = link_to t(:send_offer_request), create_offer_request_opportunity_path(:return_to => request.fullpath), :id => "new"
  - elsif @opportunity.offer_requested?
    = link_to t(:send_offer_rework), rework_offer_request_opportunity_path(:return_to => request.fullpath), :id => "new"
  - else
    [ #{@opportunity.stage.name} ]

%h3= t(:attachments)
- if @opportunity.attachments.any?
  - @opportunity.attachments.each do |attachment|
    = link_to attachment.attachment.filename, attachment.attachment.url
- else
  %p= t(:no_opportunity_attachments)

= render :partial => 'tasks/add_task', :locals => { :object => @opportunity }

= render :partial => 'comments/comments', :locals => { :object => @opportunity, :comments => @opportunity.comments }

%h3 Contact
- if @opportunity.contact.blank?
  = link_to t(:select_contact), [:edit, @opportunity]
- else
  = link_to @opportunity.contact.name, @opportunity.contact
