.title
  %h2= @opportunity.title

%h3= t(:jobboards_status)

%table
  %tr
    %td= t(:assignee)
    %td= @opportunity.jobboards_assignee || t(:no_information)
  %tr
    %td= t(:checklist)
    %td= @opportunity.jobboards_url ? link_to(t(:checklist), @opportunity.jobboards_url, target: '_new') : t(:no_information)
  %tr
    %td= t(:status)
    %td= @opportunity.status || t(:no_information)
  %tr
    %td= t(:due_at)
    %td= @opportunity.due_at ? l(@opportunity.due_at, format: :long) : ''

%h3= t(:attachments)
- if @opportunity.attachments.any?
  - @opportunity.attachments.each do |attachment|
    = link_to attachment.attachment.filename, attachment.attachment.url
- else
  %p= t(:no_opportunity_attachments)

= render :partial => 'tasks/add_task', :locals => { :object => @opportunity }

= render :partial => 'comments/comments', :locals => { :object => @opportunity, :comments => @opportunity.comments }

%h3 Contact
- if @opportunity.contact.blank?
  = link_to t(:select_contact), [:edit, @opportunity]
- else
  = link_to @opportunity.contact.name, @opportunity.contact
