!!!
%html
  %head
    %title= t(:administration)
    = render :partial => 'shared/javascripts'
  %body
    %ul.navigation
      %li= link_to t(:sales_site), root_path
      %li= link_to t(:admin_dashboard), administration_root_path
      %li= link_to t(:opportunities), administration_opportunities_path
    = yield
