!!!
%html
  %head
    %title= t(:administration)
    :css
      body {
        font: 10px/18px 'lucida grande', helvetica, sans-serif;
        padding: 20px;
      }
    = yield(:stylesheets)
    = render :partial => 'shared/javascripts'
  %body
    = yield
    = render :partial => 'shared/chart_beat'
