%dl.item
  %dd
    = link_to account.name, account, :id => account.name.parameterize, :class => 'account'
    %small
      = raw "Email: #{mail_to(account.email, nil, :bcc => current_user.dropbox_email)}" if account.email.present?
      = raw " | Phone: <b>#{account.phone}</b>" if account.phone.present?
      = raw " | Fax: <b>#{account.fax}</b>" if account.fax.present?
    %br/
    %em.timestamp
      - account_time = l account.created_at, :format => :short
      - if account.assignee_id.present?
        = raw t(:assigned_ago_by, :time => account_time, :by => account.user.name, :for => User.find(account.assignee_id).full_name)
      - else
        = raw t(:added_ago_by, :time => account_time, :by => account.user.name)
      = raw " : #{link_to(pluralize(account.comments.not_deleted.size, t(:comment)), account)}" if account.comments.not_deleted.any?
    %span.actions
      = link_to t(:edit), [:edit, account], :id => "edit_#{dom_id(account)}"
