%h2.title= t(:account_may_exist)

%h3= t(:use_existing_account)

%ul#did_you_mean
  - if @account.parent_id
    - @similar_accounts.each do |account|
      %li
        = simple_form_for account do |form|
          = hidden_field_tag :return_to, account_path(@account.parent_id)
          = form.hidden_field :parent_id, :value => @account.parent_id
          = form.button :submit, "#{t(:yes_use)} #{account.name}", :class => 'link'
  - else
    - @similar_accounts.each do |account|
      %li= link_to "#{t(:yes_use)} #{account.name}", account, :class => 'link'

  %li
    = simple_form_for @account do |form|
      = hidden_field_tag :return_to, account_path(@account.parent_id) if @account.parent_id
      = hidden_field_tag :similarity_off, true
      - @account.attributes.each do |field, value|
        - next if value.blank?
        - if value.is_a?(Array)
          - value.each do |v|
            = form.hidden_field "#{field}[]", v
        - else
          = form.hidden_field field, :value => value
      = form.button :submit, t(:create_new_account)
