.title
  %h2= @account.name
  %ul.actions
    %li= link_to t(:edit_account), [:edit, @account], :id => "edit_#{dom_id(@account)}"
    %li= link_to t(:add_sub_account), new_account_path(:account_id => @account.id), :id => 'add_sub_account'
  %small
    = t(:assigned_to, :user => (@account.assignee.nil? ? "Nobody" : @account.assignee.full_name))
.clear
%h3.grad= t(:contacts)
- if @account.contacts.any?
  .contacts
    - @account.contacts.not_deleted.each do |contact|
      = render :partial => 'contacts/contact_with_assets', :locals => {:contact => contact }
    .clear
    = link_to raw("<b>+</b>#{t(:add_contact)}"), new_contact_path(:return_to => request.fullpath, :account_id => @account.id), :id => 'add_contact'
- else
  .no-contacts= link_to raw("<b>+</b>#{t(:add_contact)}"), new_contact_path(:return_to => request.fullpath, :account_id => @account.id), :id => 'add_contact'
.clear
= render :partial => 'tasks/add_task', :locals => { :object => @account }
.clear
= render :partial => 'comments/comments', :locals => { :object => @account, :comments => @account.all_comments.desc(:created_at) }

- content_for :sidebar do
  .box.ice
    %h3= t(:contact_info_for_account, :name => @account.name)
    %dl.info
      = show_attribute(@account, 'identifier')
      = show_attribute(@account, 'email', mail_to(@account.email, nil, :bcc => current_user.dropbox_email))
      = show_attribute(@account, 'phone')
      = show_attribute(@account, 'fax')
      = show_attribute(@account, 'billing_address',  br(@account.billing_address))
      = show_attribute(@account, 'shipping_address', br(@account.shipping_address))
      = show_attribute(@account, 'website', link_to(t(:visit_website), @account.website)) if @account.website
      %dt= t(:social_media)
      %dd
        - twit = @account.website.blank?   ? nil : link_to('Twitter', @account.website)
        - link = @account.linked_in.blank? ? nil : link_to('LinkedIn',@account.linked_in)
        - face = @account.facebook.blank?  ? nil : link_to('Facebook',@account.facebook)
        - xing = @account.xing.blank?      ? nil : link_to('Xing', @account.xing)
        = raw [twit, link, face, xing].compact.join(', ')

  - if @account.children.any?
    %br/
    .box.ice
      %h3= t(:sub_accounts)
      %ul
        - @account.children.each do |child|
          %li= link_to child.name, child
  %br/
  #recent_activity.box.ice
    %h3= t(:recent_activity_for, :name => @account.full_name )
    = render :partial => 'shared/activity_for', :collection => @account.related_activities.limit(6), :as => :activity
